[Unit]
Description=Alup captive-portal login daemon.
Wants=network-online.target
After=network.target network-online.target

[Service]
User=user_name
Type=simple
WorkingDirectory=config_path
ExecStart=/usr/local/bin/alup -c config_path

[Install]
WantedBy=multi-user.target
